{% extends "admin/base_site.html" %}
<html>
   {% block content %}
   <body class="content" style="background: #E8E8E8">
      <h1>Integration Guidelines</h1>
      <br>
      <h2>General Integration Process:</h2>
      <br>
      <p>
         <strong>Please follow the below steps for integration:</strong>
      <p>1. Fill in the desired Tag name, Tag attr and Tag attr value and click "Save and continue editing" in the botton right corner of the page.</p>
      <p>2. Then click on "Get Content Area" in the upper right corner and check whether the system is able to fetch the news present in the Web URL.</p>
      <p>3. If not then repeat the whole process from step 1 by trying different Tag name, Tag attr and Tag attr value and check again.</p>
      <p>4. If the system is showing the desired content in "Get Content Area", then check the "Overwrite" box and click "Save and continue editing".</p>
      </p>
      </br>
      <strong>Do's and Dont's:</strong>
      <p>
      <p>Please do not check the "Overwrite" box untill and unless you are not geting any content while clicking on "Get Content Area."</p>
      </p>
      </br>
   </body>
   {% endblock %}
</html>