{% extends "admin/base_site.html" %}
<html>
    {% block content %}
    <body class="content" style="background: #E8E8E8">
        <h1>Integration Guidelines</h1>
        <br>
        <h3><a href="general-integration/">1. General Integration Process</a></h3>
        <h3><a href="new-aids/">2. Integrating New AIDs</a></h3>
        <h3><a href="existing-aids/">3. Checking Existing AIDs</a></h3>
        <h3><a href="tns-reports/">4. TNS Reports Integration Priority</a></h3>
        </br>
    </body>
    {% endblock %}
</html>