{% extends "admin/base_site.html" %}
<html>
	{% block content %}
	<body class="content" style="background: #E8E8E8">
		<h1>Integration Guidelines</h1>
		<br>
		<h2>Integrating New AIDs:</h2>
		<br>
		<p>
			<strong>1. Check for news title:</strong>
		<p>Try to integrate news title in the web URL. If the news title cannot be integrated, then move to step 2.</p>
		</p>
		<strong>2. Check for news date:</strong>
		<p>
		<p>Try to integrate news date in the web URL. If the news date cannot be integrated, then move to step 3.</p>
		</p>
		<strong>3. Check for full news page:</strong>
		<p>
		<p>Try to integrate full news page in the web URL. If full news page cannot be integrated, then put "Cannot Integrate" in your report's comments section.</p>
		</p>
		</br>
		</br>
	</body>
	{% endblock %}
</html>