{% extends "admin/base_site.html" %}
<html>
	{% block content %}
	<body class="content" style="background: #E8E8E8">
		<h1>Integration Guidelines</h1>
		<br>
		<h2>TNS Reports Priority:</h2>
		<br>
		<p>
			<strong>TNS Reports should be integrated as per the below priority levels:</strong>
		<p>1. Updated AID status report</p>
		</p>
		<p>
		<p>2. UIDs returned by TNS in TNS URL</p>
		</p>
		<p>
		<p>3. List of TNS URLs not updated for more than 28 days</p>
		</p>
		</br>
	</body>
	{% endblock %}
</html>